<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Index</title>
</head>
<body>

<form action="/movies" method="get">
  <label for="query">Search: </label>
  <input type="text" name="query" id="query" />

  <input type="submit" value="Search" />
</form>

<ul>
    <% @movies.each do |movie| %>
    <li><%= movie[:title] %></li>
    <% end %>
</ul>
</body>
</html>
